<header>
  <h1>Parking Lot Control</h1>
</header>

<ng-container *ngIf="vm$ | async as vm">
  <div class="messages">
      <p class="error" *ngIf="vm.error">{{vm.error}}</p>
  </div>

  <div class="box">
      <form (ngSubmit)="onSubmit()">
          <input
              type="text"
              [(ngModel)]="plate"
              [ngModelOptions]="{standalone: true}"
              placeholder="Ex: 2FMDK3, 1GYS4C, 1GKS1E,1G6AS5"
              [disabled]="vm.loading"
          />
          <button type="submit" [disabled]="vm.loading || !plate.length">
              <ng-container *ngIf="vm.loading; else NotLoading">
                  Loading...
              </ng-container>
              <ng-template #NotLoading>
                  Add Car
              </ng-template>
          </button>
      </form>
      <div class="shortcuts">
          <h5>Shortcuts</h5>
          <p (click)="addPlate($event)" class="examples">
              <button>2FMDK3</button>
              <button>1GYS4C</button>
              <button>1GKS1E</button>
              <button>1G6AS5</button>
          </p>
      </div>
  </div>

  <app-car-list [cars]="vm.cars"></app-car-list>
</ng-container>
